<p>parent1 Component!</p>


<div class="row">
    <div class="col-3">
        İsim : <input type="text" [(ngModel)]="name">

    </div>
    <div class="col-3">
        Başarı Durumu : 
        <select [(ngModel)]="successStatus">
            <option value="0">Seçiniz</option>
            <option [ngValue]="true">Başarılı</option>
            <option [ngValue]="false">Başarısız</option>
        </select>

    </div>
    <div class="col-2">
        <button class="btn btn-success" (click)="calculate()" > Çalıştır</button>
    </div>
    <div class="col-2">
        <button class="btn btn-success" (click)="childTrigger()" > Child Component Trigger 1</button>
    </div>

    <div class="col-2">
        <button class="btn btn-success" (click)="child1.alertSth()" > Child Component Trigger 2</button>
    </div>
</div>

<br>

data-binding olarak sonuç : {{name}}

<br><br>
Child1 Module:

<app-child1 [data]="calculaterData" (resetForm)="resetParentForm($event)"></app-child1>
