
@import "~igniteui-angular/lib/core/styles/themes/index";


@include igx-core();
@include igx-typography($font-family: $material-typeface, $type-scale: $material-type-scale);

$custom_palette: igx-palette(
 $primary: $primary_color,
 $secondary: $secondary_color,
 $error:red
);
@include igx-theme($custom_palette);
